{% extends 'base.html.twig' %}

{# You can replace other parent blocks @see '../base.html.twig' #}
{% block description 'security.login.head.meta.description'|trans %}
{% block title 'security.login.head.meta.title'|trans %}

{% block og_title 'security.login.head.meta.title'|trans %}
{% block og_description 'security.login.head.meta.description'|trans %}

{% block content_tag_attributes 'id="login"' %}

{% block content %}
    <section>
        <div class="container text-center">
            <div class="row mb-4">
                <div class="col">
                    <h1><span class="fas fa-user-lock"></span> {{ 'security.login.body.h1'|trans|upper }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% for message in app.flashes('registration-success') %}
                            <div class="alert alert-success">
                                <span class="fas fa-info"></span> {{ message }}
                            </div>
                        {% endfor %}

                        <div class="form-group">
                            <label for="inputEmail" class="sr-only">{{ 'security.login.body.form.label.email'|trans }}</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><span class="fas fa-envelope"></span></div>
                                </div>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="{{ 'security.login.body.form.placeholder.email'|trans }}" required autofocus>
                            </div>
                            <small id="emailHelp" class="form-text text-muted">{{ 'security.login.body.form.help.email'|trans }}</small>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="sr-only">{{ 'security.login.body.form.label.password'|trans }}</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><span class="fas fa-lock"></span></div>
                                </div>
                                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="{{ 'security.login.body.form.placeholder.password'|trans }}" required>
                            </div>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="remember_me" name="_remember_me">
                            <label for="remember_me" class="form-check-label">{{ 'security.login.body.form.label.rememberme'|trans }}</label>
                        </div>

                        <button type="submit" class="btn btn-success"><span class="fas fa-sign-in-alt"></span> {{ 'security.login.body.form.submit'|trans }}</button>
                    </form>
                </div>
            </div>
            <div class="row text-left ul-subtitle-text">
                <div class="col">
                    <u>{{ 'default.index.body.ul.second'|trans }}</u>
                    <ul>
                        <li><a href="{{ path('app_index') }}">{{ 'button.homepage'|trans }}</a></li>
                        <li><a href="{{ path('app_user_registration') }}">{{ 'button.register'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
