{% extends 'base.html.twig' %}

{# You can replace other parent blocks @see '../base.html.twig' #}
{% block description 'samples.timecontinuum.head.meta.description'|trans %}
{% block title 'samples.timecontinuum.head.meta.title'|trans %}

{% block og_title 'samples.timecontinuum.head.meta.title'|trans %}
{% block og_description 'samples.timecontinuum.head.meta.description'|trans %}

{% block content_tag_attributes 'id="time-continuum"' %}

{% block content %}
    <section>
        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h1><span class="fas fa-clock"></span> {{ 'samples.timecontinuum.body.h1'|trans|upper }}</h1>
                </div>
            </div>
            <div class="row ul-subtitle-text">
                <div class="col">
                    <u>{{ 'samples.timecontinuum.body.ul.first'|trans }}</u>
                    <ul>
                        <li>
                            {{ 'samples.timecontinuum.body.ul.first.li.first'|trans }} <b>{{ clock.getNow }}</b>
                        </li>
                        <li>
                            {{ 'samples.timecontinuum.body.ul.first.li.second'|trans }} <b>{{ clock.getGoBackSample }}</b>
                        </li>
                        <li>
                            {{ 'samples.timecontinuum.body.ul.first.li.third'|trans }} <b>{{ clock.getNowParisSample }}</b>
                        </li>
                        <li>
                            {{ 'samples.timecontinuum.body.ul.first.li.fourth'|trans }} <b>{{ clock.getNowNewYorkSample }}</b>
                        </li>
                        <li>
                            {{ 'samples.timecontinuum.body.ul.first.li.fifth'|trans }} <b>{{ clock.getNowParisSample|date('d-m-Y H:i', "Europe/Paris") }}</b>
                        </li>
                    </ul>

                    <u>{{ 'default.index.body.ul.second'|trans }}</u>
                    <ul>
                        <li><a href="{{ path('app_index') }}">{{ 'button.homepage'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
