{% extends 'base.html.twig' %}

{% block title %}{{ 'Inscription'|trans|raw }}{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row mb-5 mt-5">
                <div class="col">
                    <img class="img-thumbnail" src="{{ asset('build/assets/images/symfony-4-logo.png') }}" alt="Symfony logo">
                </div>
            </div>
            <div class="row mb-5 mt-5">
                <div class="col text-center">
                    <h1><i class="fas fa-user-plus"></i> {{ 'Registration form'|trans|raw|upper }}</h1>
                </div>
            </div>
            <div class="row text-center">
                <div class="col mb-5">
                    {{ form_start(form) }}

                    <div class="row">
                        <div class="col-md">
                            <div class="form-group form-error">
                                {% set firstNamePlaceholder = 'Firstname'|trans|raw %}
                                {% if form.firstName.vars.errors|length %}
                                    {{ form_widget(form.firstName,
                                        form.firstName.vars|merge({'attr': {'autofocus': null, 'class': 'form-control', 'placeholder': firstNamePlaceholder} }) ) }}
                                    {{ form_errors(form.firstName) }}
                                {% else %}
                                    {{ form_widget(form.firstName, { 'attr': {'class': 'form-control', 'placeholder': firstNamePlaceholder} }) }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group form-error">
                                {% set lastNamePlaceholder = 'Lastname'|trans|raw %}
                                {% if form.lastName.vars.errors|length %}
                                    {{ form_widget(form.lastName,
                                        form.lastName.vars|merge({'attr': {'autofocus': null, 'class': 'form-control', 'placeholder': lastNamePlaceholder} }) ) }}
                                    {{ form_errors(form.lastName) }}
                                {% else %}
                                    {{ form_widget(form.lastName, { 'attr': {'class': 'form-control', 'placeholder': lastNamePlaceholder} }) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-error">
                        {% set emailPlaceholder = 'E-mail'|trans|raw %}
                        {% if form.email.vars.errors|length %}
                            {{ form_widget(form.email,
                                form.email.vars|merge({'type':'email', 'attr': {'autofocus': null, 'class': 'form-control', 'placeholder': emailPlaceholder} }) ) }}
                            {{ form_errors(form.email) }}
                        {% else %}
                            {{ form_widget(form.email, {'type':'email', 'attr': {'class': 'form-control', 'placeholder': emailPlaceholder} }) }}
                        {% endif %}
                    </div>

                    <div class="form-group form-error">
                        {% set passwordPlaceholder = 'Password (min 8 and one number)'|trans|raw %}
                        {% if form.plainPassword.first.vars.errors|length %}
                            {{ form_widget(form.plainPassword.first,
                                form.plainPassword.first.vars|merge({'type':'password', 'attr': {'autofocus': null, 'class': 'form-control', 'placeholder': passwordPlaceholder} }) ) }}
                            {{ form_errors(form.plainPassword.first) }}
                        {% else %}
                            {{ form_widget(form.plainPassword.first, {'type':'password', 'attr': {'class': 'form-control', 'placeholder': passwordPlaceholder} }) }}
                        {% endif %}
                    </div>

                    <div class="form-group form-error">
                        {% set plainPasswordPlaceholder = 'Confirm your entered password'|trans|raw %}
                        {% if form.plainPassword.second.vars.errors|length %}
                            {{ form_widget(form.plainPassword.second,
                                form.plainPassword.second.vars|merge({'type':'password', 'attr': {'autofocus': null, 'class': 'form-control', 'placeholder': plainPasswordPlaceholder } }) ) }}
                            {{ form_errors(form.plainPassword.second) }}
                        {% else %}
                            {{ form_widget(form.plainPassword.second, {'type':'password', 'attr': {'class': 'form-control', 'placeholder':  plainPasswordPlaceholder } }) }}
                        {% endif %}
                    </div>

                    <div class="mt-5 mb-5">
                        <label for="user_termsAccepted">{{'Check terms to register'|trans|raw}}</label>
                        {{ form_widget(form.termsAccepted) }}
                    </div>

                    <button type="submit" class="btn btn-primary">{{ 'Let\'s register'|trans|raw }} !</button>

                    {{ form_end(form) }}
                </div>
            </div>
            <div class="row mb-5 mt-5 text-center">
                <div class="col-md">
                    <p><a href="{{ path('index') }}">{{ 'Back on homepage'|trans|raw }}</a></p>
                </div>
                <div class="col-md">
                    <p><a href="{{ path('app_login') }}">{{ 'Login form'|trans|raw }}</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
{% endblock %}
