{% extends 'base.html.twig' %}

{% block description %}{{ 'index.header.description'|trans }}{% endblock %}

{% block title %}{{ 'index.header.title'|trans }}{% endblock %}

{% block body %}
    <section>
        {% include 'default/_flash_messages.html.twig' %}
        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h1><i class="fab fa-galactic-republic"></i> {{ 'index.body.firsttitle'|trans|upper }}</h1>
                </div>
            </div>
            <div class="row ul-subtitle-text">
                <div class="col">
                    <u>{{ 'index.body.ul.first'|trans }}</u>
                    <ul>
                        <li>
                            <p>
                                {{ 'index.body.ul.first.li.first'|trans }} - <a href="https://symfony.com/doc/4.1/frontend.html">https://symfony.com/doc/current/frontend.html</a>
                                <br>
                                <i class="fab fa-github"></i>
                                <i class="fab fa-html5"></i>
                                <i class="fab fa-css3-alt"></i>
                                <i class="fab fa-js-square"></i>
                                <i class="fab fa-sass"></i>
                            </p>
                        </li>
                        <li>{{ 'index.body.ul.first.li.second'|trans }} - <a href="https://github.com/Innmind/TimeContinuum">https://github.com/Innmind/TimeContinuum</a></li>
                    </ul>

                    <u>{{ 'index.body.ul.second'|trans }}</u>
                    <ul>
                        <li><a href="{{ path('show_time_continuum') }}">{{ 'index.body.ul.second.li.first'|trans }}</a></li>
                        <li><a href="{{ path('index', {'_locale': 'fr'}) }}"><i class="fas fa-flag"></i> {{ 'index.body.ul.second.li.second'|trans }}</a></li>
                        <li><a href="{{ path('index', {'_locale': 'en'}) }}"><i class="fas fa-flag-usa"></i> {{ 'index.body.ul.second.li.third'|trans }}</a></li>
                    </ul>

                    <u>{{ 'index.body.ul.third'|trans }}</u>
                    <ul>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li><a href="{{ path('app_logout') }}">{{ 'button.logout'|trans }}</a></li>
                        {% else %}
                            <li><a href="{{ path('app_login') }}">{{ 'button.login'|trans }}</a></li>
                        {% endif %}
                        <li><a href="{{ path('user_registration') }}">{{ 'button.register'|trans }}</a></li>
                        <li><a href="{{ path('user_index') }}">{{ 'button.user'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
