{% extends 'base.html.twig' %}

{% block title %}{{ 'user.header.title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('user') }}
{% endblock %}

{% block body %}
    <section id="user-profile">
        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h1><i class="fas fa-user"></i> {{ 'user.body.firsttitle'|trans|upper }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="jumbotron">
                        <h2>{{ 'user.jumbotron.title'|trans({'%firstname%':user.firstName, '%lastname%':user.lastName}) }} ✅</h2>
                        <h3>{{ user.phoneNumber }} - {{ user.birthDate|date('d/m/Y') }}</h3>
                        <p>
                            {{ 'user.jumbotron.description'|trans }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row text-left ul-subtitle-text">
                <div class="col">
                    <u>{{ 'index.body.ul.second'|trans }}</u>
                    <ul>
                        <li><a href="{{ path('app_logout') }}">{{ 'button.logout'|trans }}</a></li>
                        <li><a href="{{ path('index') }}">{{ 'button.homepage'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('user') }}
{% endblock %}
