{% extends 'base.html.twig' %}

{# You can replace other parent blocks @see '../base.html.twig' #}
{% block description 'user.registration.head.meta.description'|trans %}
{% block title 'user.registration.head.meta.title'|trans %}

{% block og_title 'user.registration.head.meta.title'|trans %}
{% block og_description 'user.registration.head.meta.description'|trans %}

{% block content_tag_attributes 'id="user-registration"' %}

{% block content %}
    <section>
        <div class="container text-center">
            <div class="row mb-5">
                <div class="col">
                    <h1><span class="fas fa-user-plus"></span> {{ 'user.registration.body.h1'|trans|upper }}</h1>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-6 offset-md-3">
                    <!-- This form is not a best practice, it is used to show you many options -->
                    <!-- The best form is on one line -->
                    {{ form_start(registrationForm) }}

                    <div class="row mb-2">
                        <div class="col-md">
                            <div class="form-error">
                                {{ form_row(registrationForm.firstName) }}
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-error">
                                {{ form_row(registrationForm.lastName) }}
                            </div>
                        </div>
                    </div>

                    <div class="col-auto mb-2">
                        <div class="form-error">
                            {{ form_row(registrationForm.email) }}
                        </div>
                    </div>

                    <div class="form-error mb-2">
                        {{ form_row(registrationForm.birthDate) }}
                    </div>

                    <div class="form-error mb-2">
                        {{ form_row(registrationForm.plainPassword.first) }}
                    </div>

                    <div class="form-error mb-2">
                        {{ form_row(registrationForm.plainPassword.second) }}
                    </div>

                    <div class="form-switch mt-3 mb-3">
                        {{ form_row(registrationForm.termsAccepted) }}
                    </div>

                    <button type="submit" class="btn btn-outline-primary"><span class="fas fa-plus-circle"></span> {{ 'user.registration.body.form.submit'|trans }}</button>

                    {{ form_end(registrationForm) }}
                </div>
            </div>
            <div class="row text-start ul-subtitle-text">
                <div class="col">
                    <u>{{ 'default.index.body.ul.second'|trans }}</u>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('app_index') }}">{{ 'button.homepage'|trans }}</a></li>
                        <li><a href="{{ path('app_security_login') }}">{{ 'button.login'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
